---
const {
    label = "Toggle between Dark and Light mode",
    class: className = "text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center",
    iconClass = "w-6 h-6",
    iconName = "tabler:sun",
} = Astro.props;

import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<select
    id="lang"
    onchange="loadLanguage(this.value)"
    class="rounded-t rounded-b text-sm text-black dark:text-white py-2 px-5 block"
    style="background-color: transparent; border: none; outline:none"
>
    <option selected={lang === 'en'} value="en" style="background-color: transparent; color: black;">English</option>
    <option selected={lang === 'id'} value="id" style="background-color: transparent; color: black;">Indonesian</option>
    <option selected={lang === 'zh'} value="zh" style="background-color: transparent; color: black;">中文</option>
</select>

<!-- <div class="">
    <a class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center">
        <img
            id="icon-lang"
            alt="Language"
            loading="lazy"
            width="50"
            height="50"
            decoding="async"
            data-nimg="1"
            class="rounded-full overflow-hidden object-cover w-5 h-5"
            src="https://region-api.pages.dev/flags/svg/GB.svg"
        />
    </a>
    <ul
        class="md:backdrop-blur-md dark:md:bg-dark rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white/90 md:min-w-[200px] drop-shadow-xl"
    >
        <li>
            <a
                href="#!"
                class:list={[
                    "first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap",
                ]}
                onclick="loadLanguage('en')"
            >
                English
            </a>
            <a
                href="#!"
                class:list={[
                    "first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap",
                ]}
                onclick="loadLanguage('id')"
            >
                Indonesia
            </a>
            <a
                href="#!"
                class:list={[
                    "first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap",
                ]}
                onclick="loadLanguage('zh')"
            >
                Chinese
            </a>
        </li>
    </ul>
</div> -->
